DB_HOST=localhost
DB_NAME=test
DB_PASS=test
DB_PORT=5432
DB_USER=test
MAILER_HOST=mail.sistemasdealimentacion.com.mx
MAILER_PASS=password
MAILER_PORT=465
MAILER_USER=example@gmail.com
NODE_ENV=development
PORT=3000
SEND_EMAIL=false
#generate secure secret "openssl rand -base64 60"
JWT_SECRET=password